*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color:#F2EDC2;
}

/* Nav bar style */

nav{
    height:95vh;
    margin:2px;
    width:3.7rem;
    background-color:#346739;
    position:fixed;
    border-radius:1rem;
    margin-top:1%;
}
ul{
    list-style-type: none;
    padding:1rem;
    padding-top:2.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:55px;
}
a{
    text-decoration: none;
    color:#ffffff;
    justify-content: space-around;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg) scale(1.5);
    }
    50%{
        transform: rotate(30deg) scale(1.5);
    }
    100%{
        transform: rotate(-30deg) scale(1.5);
    }
}
.fa-solid{
    font-size:1.8rem;
}
.fa-solid:hover{
    animation:rotate 0.8s linear infinite both;
}

/* Main style */

main{
    margin-left: 4rem;
    height:100vh;
    width: calc(100% - 4rem);
    display:flex;
    gap:20px;
}
.imagecontainer{
    height:97vh;
    width:45%;
    padding-top:30px;
}
img{
    height:100%;
    width:100%;
}
.biocard{
    height:min-content;
    border:0.1rem solid green;
    border-radius:1rem;
    position:absolute;
    left:650px;
    background-color: #9FCB98;
    top:220px;
    padding:2rem;
    transition: transform linear 0.8s;
}
.biocard:hover{
    transform: scale(1.1);
}

/* Biography */

.biography{
    margin-left: 5.3rem;
    margin-top:10%;
}
#biohead,#education{
    border-bottom:1.8px solid green;
    display:inline;
}
.bio{
    border:1.5px solid green;
    width:83%;
    height:84vh;
    border-radius:10px;
    margin:5% auto;
    font-size:1.3rem;
    padding:50px;
    background-color: #9FCB98;
    transition: transform 1s linear;
}
.bio:hover{
    transform:rotateZ(3deg);
}
.biocontent{
    text-align: justify;
}

/* Education Details */

#education-details{
    width:88%;
    height:84vh;
    border-radius:10px; 
    margin:10% auto;
    margin-left:5.3rem;
    font-size:1.3rem;
    padding:20px;
}
/* #79AE6F */
.colleges{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:max-content;
}
.courseheading{
    display:inline;
}
.course{
    padding:5px;
    border:1px solid green;
    border-radius:5px;
    margin:1.8%;
    width:45%;
    margin-top:5%;
    background-color: #9fcb98;
    font-size:1.1rem;
    padding:2%;
    display:inline;
}